main {
  width: 90vw;
  margin: auto;
}

.subtitulo {
  text-align: center;
}

.destaque {
  background-color: yellow;
  font-weight: bold;
  padding: 0.5rem;
}

.sombraTexto {
  text-shadow: black 1px 1px 3px;
}
